In [2]:
import pandas as pd
pd.__version__

'2.2.3'

In [6]:
df = pd.read_excel("Model_Toyo Suisan Kaisha.xlsx", sheet_name=[1, 2])
df

{1:                      Unnamed: 0     Unnamed: 1 Unnamed: 2 Unnamed: 3  \
 0   Toyo Suisan Kaisha (2875.T)  東洋水産 (2875.T)        NaN        NaN
 1                  JPY millions            百万円        NaN        NaN
 2                           NaN            NaN        NaN        NaN
 3                           NaN            NaN        NaN        NaN
 4                           NaN           収益推移        NaN        NaN
 5                           NaN            NaN        NaN        NaN
 6                           NaN          (Ymn)        NaN        NaN
 7                           NaN            NaN     2008年度     2009年度
 8                           NaN            NaN        NaN        NaN
 9                           NaN            NaN        NaN        NaN
 10                          NaN            売上高     322063     315337
 11                          NaN            YoY        NaN  -0.020884
 12                          NaN           営業利益      24978      31121
 13                          NaN            YoY        NaN   0.245936
 14                          NaN           経常利益        NaN      32545
 15                          NaN            純利益        NaN      18506
 16                          NaN            NaN        NaN        NaN
 17                          NaN         事業別売上高        NaN     315337
 18                          NaN        　水産食品事業        NaN      33376
 19                          NaN       　海外即席麺事業        NaN      59225
 20                          NaN       　国内即席麺事業        NaN      97031
 21                          NaN           　　袋麺        NaN          -
 22                          NaN         　　カップ麺        NaN          -
 23                          NaN        　低温食品事業        NaN      65242
 24                          NaN           　　生麺        NaN          -
 25                          NaN         　　冷凍食品        NaN          -
 26                          NaN        　　チルド食品        NaN          -
 27                          NaN        　加工食品事業        NaN      19261
 28                          NaN         　　ねり製品        NaN       3296
 29                          NaN          　　スープ        NaN       4093
 30                          NaN         　　調味料類        NaN       2773
 31                          NaN         　　包装米飯        NaN       9264
 32                          NaN          　冷蔵事業        NaN      12950
 33                          NaN           　その他        NaN      28252
 34                          NaN        事業別営業利益        NaN      31121
 35                          NaN        　水産食品事業        NaN        390
 36                          NaN       　海外即席麺事業        NaN      12128
 37                          NaN       　国内即席麺事業        NaN      12350
 38                          NaN        　低温食品事業        NaN       4169
 39                          NaN        　加工食品事業        NaN        637
 40                          NaN          　冷蔵事業        NaN        882
 41                          NaN           　その他        NaN        565
 42                          NaN       事業別営業利益率        NaN        NaN
 43                          NaN        　水産食品事業        NaN   0.011685
 44                          NaN       　海外即席麺事業        NaN   0.204778
 45                          NaN       　国内即席麺事業        NaN   0.127279
 46                          NaN        　低温食品事業        NaN   0.063901
 47                          NaN        　加工食品事業        NaN   0.033072
 48                          NaN          　冷蔵事業        NaN   0.068108
 49                          NaN            　全社        NaN   0.098691
 50                          NaN            NaN        NaN        NaN
 51                          NaN            NaN        NaN        NaN
 52                          NaN            NaN        NaN        NaN
 53                          NaN          Check        NaN          0
 54                          NaN            NaN        NaN          0

    Unnamed: 4 Unnamed: 5 Unnamed: 6  Unnamed: 7 Unnamed: 8  Unnamed: 9  ...  \
 0         NaN        NaN        NaN         NaN        NaN         NaN  ...
 1         NaN        NaN        NaN         NaN        NaN         NaN  ...
 2         NaN        NaN        NaN         NaN        NaN         NaN  ...
 3    0.048685   0.047988   0.096926         NaN   0.066733         NaN  ...
 4         NaN        NaN        NaN         NaN        NaN         NaN  ...
 5         NaN        NaN        NaN         NaN        NaN         NaN  ...
 6         NaN        NaN        NaN         NaN        NaN         NaN  ...
 7      2010年度     2011年度     2012年度         NaN     2013年度         NaN  ...
 8         NaN        NaN        NaN         NaN        NaN         NaN  ...
 9         NaN        NaN        NaN         NaN        NaN         NaN  ...
 10     305911     320988     344527         NaN     372231         NaN  ...
 11  -0.029892   0.049286   0.073333         NaN   0.080412         NaN  ...
 12      25811      25514      29623         NaN      30595         NaN  ...
 13  -0.170624  -0.011507   0.161049         NaN   0.032812         NaN  ...
 14      27191      26989      31997         NaN      32243         NaN  ...
 15      12415      16119      17280         NaN      22723         NaN  ...
 16        NaN        NaN        NaN         NaN        NaN         NaN  ...
 17     305911     320988     344527         NaN     372231         NaN  ...
 18      33355      32555      32361         NaN      33455         NaN  ...
 19      50191      57559      70650         NaN      75422         NaN  ...
 20     101755     106638     116974         NaN     124780         NaN  ...
 21      16608      19825      31000         NaN      35700         NaN  ...
 22      85147      86813      86000         NaN      89100         NaN  ...
 23      63378      63372      62069         NaN      63950         NaN  ...
 24      48200      47391        NaN         NaN      47900         NaN  ...
 25          -       9913        NaN         NaN       9800         NaN  ...
 26          -       6067        NaN         NaN       6000         NaN  ...
 27      18333      17235      17746         NaN      18455         NaN  ...
 28       3060       2957        NaN         NaN       3300         NaN  ...
 29       3504       3743        NaN         NaN       4200         NaN  ...
 30        469       2451        NaN         NaN       2800         NaN  ...
 31       8992       8053        NaN         NaN       8300         NaN  ...
 32      12842      14820      14918         NaN      15259         NaN  ...
 33      26037      28805      29805         NaN      40907         NaN  ...
 34      25811      25514      29623         NaN      30595         NaN  ...
 35        707        864         49         NaN       -160         NaN  ...
 36       7447       8286      13162         NaN      13127         NaN  ...
 37      11640      10706      12022         NaN      12142         NaN  ...
 38       4287       3607       3567         NaN       3344         NaN  ...
 39        543        578        -85         NaN        206         NaN  ...
 40        550       1152       1146         NaN       1224         NaN  ...
 41        635        319       -239         NaN        712         NaN  ...
 42        NaN        NaN        NaN         NaN        NaN         NaN  ...
 43   0.021196    0.02654   0.001514         NaN  -0.004783         NaN  ...
 44   0.148373   0.143957   0.186299         NaN   0.174047         NaN  ...
 45   0.114392   0.100396   0.102775         NaN   0.097307         NaN  ...
 46   0.067642   0.056918   0.057468         NaN   0.052291         NaN  ...
 47   0.029619   0.033536   -0.00479         NaN   0.011162         NaN  ...
 48   0.042828   0.077733    0.07682         NaN   0.080215         NaN  ...
 49   0.084374   0.079486   0.085982         NaN   0.082194         NaN  ...
 50        NaN        NaN        NaN         NaN        NaN         NaN  ...
 51        NaN        NaN        NaN         NaN        NaN         NaN  ...
 52        NaN        NaN        NaN         NaN        NaN         NaN  ...
 53        -20         -4         -4         0.0         -3         0.0  ...
 54         -2         -2         -1         0.0          0         0.0  ...

    Unnamed: 74 Unnamed: 75 Unnamed: 76 Unnamed: 77 Unnamed: 78 Unnamed: 79  \
 0          NaN         NaN         NaN         NaN         NaN         NaN
 1          NaN         NaN         NaN         NaN         NaN         NaN
 2          NaN         NaN         NaN         NaN         NaN         NaN
 3          NaN         NaN         NaN         NaN         NaN         NaN
 4          NaN         NaN         NaN         NaN         NaN         NaN
 5          NaN         NaN         NaN         NaN         NaN         NaN
 6          NaN         NaN         NaN         GSE         GSE         GSE
 7          NaN         NaN         NaN         NaN         NaN      FY3/24
 8          NaN          Q1          Q2          Q3          Q4          FY
 9          NaN         NaN         NaN         NaN         NaN         NaN
 10         NaN      111181      123709      130500      125010      490400
 11         NaN    0.078098    0.126542    0.161311    0.131589    0.125323
 12         NaN       13190       16634       16750        9226       55800
 13         NaN    0.229608    1.015998    0.297745    0.092481    0.383585
 14         NaN         NaN         NaN         NaN         NaN       60300
 15         NaN       11023       14109       14250        6618       46000
 16         NaN         NaN         NaN         NaN         NaN         NaN
 17         NaN      111181      123709      130500      125010      490400
 18         NaN        7556        7200        7600        6866       29500
 19         NaN       47468       58605       56700       61427      224200
 20         NaN       21989       21743       31600       24768      100100
 21         NaN           0           0           0           0       16190
 22         NaN           0           0           0           0       83950
 23         NaN       14326       14939       13100       12635       55000
 24         NaN           0           0           0           0       44000
 25         NaN           0           0           0           0        6800
 26         NaN           0           0           0           0        4200
 27         NaN        4492        4712        6100        6296       21600
 28         NaN           0           0           0           0        2030
 29         NaN           0           0           0           0        7380
 30         NaN           0           0           0           0           0
 31         NaN           0           0           0           0       12210
 32         NaN        5963        6159        6200        5378       23700
 33         NaN        9384       10074        9200        7642       36300
 34         NaN       13190       16634       16750        9226       55800
 35         NaN         133          32          50          85         300
 36         NaN        9195       12015       10000        7390       38600
 37         NaN        1086        1739        4700         575        8100
 38         NaN        1959        1914        1450        1177        6500
 39         NaN         -21         173         150          -2         300
 40         NaN         648         622         400         330        2000
 41         NaN         187         139           0        -326           0
 42         NaN         NaN         NaN         NaN         NaN         NaN
 43         NaN    0.017602    0.004444    0.006579     0.01238    0.010169
 44         NaN    0.193709    0.205017    0.176367    0.120305    0.172168
 45         NaN    0.049388     0.07998    0.148734    0.023215    0.080919
 46         NaN    0.136744    0.128121    0.110687    0.093154    0.118182
 47         NaN   -0.004675    0.036715     0.02459   -0.000318    0.013889
 48         NaN     0.10867     0.10099    0.064516    0.061361    0.084388
 49         NaN    0.118635    0.134461    0.128352    0.073802    0.113785
 50         NaN         NaN         NaN         NaN         NaN         NaN
 51         NaN         NaN         NaN         NaN         NaN         NaN
 52         NaN         NaN         NaN         NaN         NaN         NaN
 53         NaN         NaN         NaN         NaN         NaN           0
 54         NaN         NaN         NaN         NaN         NaN           0

    Unnamed: 80 Unnamed: 81 Unnamed: 82 Unnamed: 83
 0          NaN         NaN         NaN         NaN
 1          NaN         NaN         NaN         NaN
 2          NaN         NaN         NaN         NaN
 3          NaN         NaN         NaN         NaN
 4          NaN         NaN         NaN         NaN
 5          NaN         NaN         NaN         NaN
 6          GSE         GSE         GSE         GSE
 7       FY3/25      FY3/26      FY3/27      FY3/28
 8           FY          FY          FY          FY
 9          NaN         NaN         NaN         NaN
 10      506600      522300      539100      554900
 11    0.033034    0.030991    0.032165    0.029308
 12       60200       62300       64200       66400
 13    0.078853    0.034884    0.030498    0.034268
 14       64700       66900       68800       71100
 15       49300       51000       52500       54300
 16         NaN         NaN         NaN         NaN
 17      506600      522300      539100      554900
 18       30700       31900       33200       34400
 19      234900      247400      260600      273200
 20      101100      100800      101200      101300
 21       16340       16380       16430       16490
 22       84790       84370       84790       84790
 23       55500       55900       56200       56500
 24       44400       44700       44900       45100
 25        6900        7000        7100        7200
 26        4200        4200        4200        4200
 27       22400       22800       23100       23400
 28        2030        2030        2030        2030
 29        7750        7980        8140        8300
 30           0           0           0           0
 31       12580       12830       12960       13090
 32       24500       25000       25500       26000
 33       37500       38500       39300       40100
 34       60200       62300       64200       66400
 35         300         300         300         300
 36       40800       42200       43900       45800
 37        9800       10200       10300       10300
 38        6600        6700        6800        6900
 39         400         500         600         700
 40        2100        2200        2300        2400
 41         200         200           0           0
 42         NaN         NaN         NaN         NaN
 43    0.009772    0.009404    0.009036    0.008721
 44    0.173691    0.170574    0.168457    0.167643
 45    0.096934     0.10119    0.101779    0.101678
 46    0.118919    0.119857    0.120996    0.122124
 47    0.017857     0.02193    0.025974    0.029915
 48    0.085714       0.088    0.090196    0.092308
 49    0.118831     0.11928    0.119087    0.119661
 50         NaN         NaN         NaN         NaN
 51         NaN         NaN         NaN         NaN
 52         NaN         NaN         NaN         NaN
 53           0           0           0           0
 54           0           0           0           0

 [55 rows x 84 columns],
 2:      Unnamed: 0                                         Unnamed: 1  \
 0           NaN                        Toyo Suisan Kaisha (2875.T)
 1           NaN                                       JPY millions
 2           NaN                                                NaN
 3           NaN                                 Sales, net revenue
 4           NaN                                                YoY
 ..          ...                                                ...
 172         NaN                                                NaN
 173         NaN  Source: Company data, Goldman Sachs Research e...
 174         NaN                                                NaN
 175         NaN                                                NaN
 176         NaN                                                NaN

                    Unnamed: 2  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
 0               東洋水産 (2875.T)         NaN   FY3/2007        NaN        NaN
 1                         百万円         NaN       1-3Q         4Q         FY
 2                         NaN         NaN        NaN        NaN        NaN
 3                         売上高         NaN     245703      75653     321356
 4                         YoY         NaN        NaN        NaN        NaN
 ..                        ...         ...        ...        ...        ...
 172                       NaN         NaN        NaN        NaN        NaN
 173  出所: 会社, ゴールドマン・サックス調査部予想         NaN        NaN        NaN        NaN
 174                       NaN         NaN        NaN        NaN        NaN
 175                       NaN         NaN        NaN        NaN        NaN
 176                       NaN         NaN        NaN        NaN        NaN

     Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  Unnamed: 309 Unnamed: 310  \
 0     FY3/2008        NaN        NaN  ...  FY3/2021 CoE          NaN
 1         1-3Q         4Q         FY  ...            4Q           2H
 2          NaN        NaN        NaN  ...           NEW          NEW
 3       245915      68829     314744  ...        111110       222406
 4     0.000863  -0.090201  -0.020575  ...      0.087895     0.021683
 ..         ...        ...        ...  ...           ...          ...
 172        NaN        NaN        NaN  ...           NaN          NaN
 173        NaN        NaN        NaN  ...           NaN          NaN
 174        NaN        NaN        NaN  ...           NaN          NaN
 175        NaN        NaN        NaN  ...           NaN          NaN
 176        NaN        NaN        NaN  ...           NaN          NaN

     Unnamed: 311  Unnamed: 312 Unnamed: 313 Unnamed: 314      mid-term  \
 0            NaN  FY3/2021 CoE          NaN          NaN  FY3/2022 CoE
 1             FY            1H           2H           FY            FY
 2            NEW           NaN          NaN          NaN           NaN
 3         426000        207000       219000       426000        450000
 4       0.023962      0.043636     0.006036     0.023962      0.056338
 ..           ...           ...          ...          ...           ...
 172          NaN           NaN          NaN          NaN           NaN
 173          NaN           NaN          NaN          NaN           NaN
 174          NaN           NaN          NaN          NaN           NaN
 175          NaN           NaN          NaN          NaN           NaN
 176          NaN           NaN          NaN          NaN           NaN

           NEW         NEW.1     NEW.2
 0         NaN  FY3/2020 CoE       NaN
 1          4Q            2H        FY
 2         NaN           NaN       NaN
 3      106102        221655    420000
 4    0.117534      0.083289  0.047214
 ..        ...           ...       ...
 172       NaN           NaN       NaN
 173       NaN           NaN       NaN
 174       NaN           NaN       NaN
 175       NaN           NaN       NaN
 176       NaN           NaN       NaN

 [177 rows x 319 columns]}