In [5]:
import pandas as pd
import numpy as np
pd.__version__

'2.2.3'

In [6]:
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

speeds

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [27]:
grouped = speeds.groupby("class")

In [28]:
grouped = speeds.groupby(["class", "order"])

In [29]:
df = pd. DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df

     A      B         C         D
0  foo    one -1.260282 -1.019321
1  bar    one -1.757900 -0.585009
2  foo    two  1.007468 -0.146045
3  bar  three -0.418103  1.116491
4  foo    two -1.388663 -1.826979
5  bar    two  2.116697  1.245882
6  foo    one  1.869526 -0.378184
7  foo  three  0.566221 -0.464418

In [30]:
grouped = df.groupby("A")
grouped = df.groupby("B")
grouped = df.groupby(["A", "B"])

In [31]:
df2 = df.set_index(["A", "B"])
grouped = df2.groupby(level=df2.index.names.difference(["B"]))
grouped.sum()

            C         D
A
bar -0.059306  1.777364
foo  0.794270 -3.834948

In [ ]:
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'