In [1]:
print(False)

False

In [2]:
type(True)

bool

In [4]:
print(True and True)
print(False and True)
print(False and False)

True
False
False

In [5]:
print(True or True)
print(False or True)
print(False or False)

True
True
False

# 입력과 출력
-입력 : input()

In [7]:
x = input("임의의 값을 읿력하세요")
print(x)

임의의 값을 읿력하세요 5

5

## 데이터 형변환
- 문자를 숫자로, 숫자를 문자로, A 자료형에서 D 자료형으로
- 대부분이 클래스 or 함수를 활용해서 형변환

In [10]:
x = int(input("임의의 숫자를 입력하세요"))
y = int(input("임의의 숫자를 입력하세요"))

print(type(x), type(y))
print(x + y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'int'> <class 'int'>
2

In [11]:
x = float(input("임의의 숫자를 입력하세요"))
y = float(input("임의의 숫자를 입력하세요"))

print(type(x), type(y))
print(x + y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'float'> <class 'float'>
2.0

In [12]:
a = '3.3'
int(float(a))

3

# String

In [13]:
a = "abc"
b = 'def'
c = "kga"

result = a + b + c
print(result)

abcdefkga

In [14]:
result * 3

'abcdefkgaabcdefkgaabcdefkga'

In [18]:
a = """
dadfadf
adfadsfs
asdfasdf
sdafasdf
"""

print(a)

dadfadf
adfadsfs
asdfasdf
sdafasdf

## 문자열 포맷팅
- f-string 포맷팅으로 문자열 만들기

In [19]:
x = 1
a = f'안녕하세요, 저는 숫자 {x} 입니다.'
print(type(a), a)

<class 'str'> 안녕하세요, 저는 숫자 1 입니다.

## 인덱싱 및 슬라이싱

In [31]:
a = "123456789"
print(len(a))

9

In [32]:
a[8]

'9'

In [33]:
a[len(a)-1]

'9'

In [34]:
a[-1]

'9'

## 슬라이싱

In [37]:
a = "123456789"
print(a[0:10])

123456789

In [39]:
a = "123456789"
print(a[0:10:2])
print(a[6:])
print(a[:6])

13579
789
123456

## 문자열 수정

In [48]:
a = "Aython"

print("P" + a[1:])
"P" + a[1:]

Python

'Python'

In [50]:
a = "Aython"

result = a.replace("A", "P")
print(result)

Python

## 문자열 메서드
- 클래스와 클래스 메서드에 대한 이해

In [52]:
a = "Aython"

result = a.Replace("A", "P")
print(result)

AttributeError: 'str' object has no attribute 'Replace'

b = "Aython"

b 활용해서 무언가를 하고 싶음 -> 메서드가 있을 것 같은데~

b = "python"

string object b = "python" 
-> 대문자를 바꾸고 싶음 
-> chatGPT 답변 후, 실제로 있는지 공식문서 체크
https://docs.python.org/3/library/stdtypes.html#string-methods

b = "python"

string object b = "python" -> 대문자를 바꾸고 싶음

In [56]:
sampleText = "hello, streamlist"
sampleText = sampleText.upper()
sampleText

'HELLO, STREAMLIST'

In [58]:
sampleText = "hello, streamlist"
sampleText = sampleText.capitalize()
sampleText

'Hello, streamlist'

In [60]:
sampleText = "hello, streamlist"
sampleText = sampleText.title()
sampleText

'Hello, Streamlist'

In [62]:
sampleText = "hello,streamlist"
words = sampleText.split(sep=",")
words

['hello', 'streamlist']

In [63]:
sampleText = "hello,streamlist"
words = sampleText.split()
words

['hello,streamlist']

list
- 책 참고
- 리스트와 튜플의 차이점
- - 리스트: 요소의 생성, 삭제, 수정 가능
  - 튜플: 요소 변경 불가능

In [67]:
sampleList = ["hello", "streamlist"]
text = ",".join(sampleList)
text

'hello,streamlist'

## 시퀀스 자료형 확인
- 인덱싱과 슬라이싱이 가능함
- 반복문 사용할 때 기초자료형 활용

In [68]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

# List 리스트

In [70]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[1])
print(a[0:8])

1
[0, 1, 2, 3, 4, 5, 6, 7]

In [73]:
a = [0, 1, 2, ["Python", "Hello"], 3, 4, 5]
a[3][1][1]

'e'

In [77]:
a = ["IM", "banker"]
a.append("academy")
a

['IM', 'banker', 'academy']

In [78]:
a = ["IM", "banker"]
result = a.append("academy")
print(result)

None

In [79]:
a = [100, 200]
a.append(300, 400)
a

TypeError: list.append() takes exactly one argument (2 given)

In [80]:
a = [100, 200]
a.extend([300, 400])
a

[100, 200, 300, 400]

## 리스트 값 변경 및 삭제

In [81]:
numbers = [302, 301, 418, 430, 529]
numbers[0] = 1302
numbers

[1302, 301, 418, 430, 529]

In [87]:
# 튜플
numbers = (302, 301, 418, 430, 529)
numbers[0] = 1302
numbers

TypeError: 'tuple' object does not support item assignment

In [93]:
# 리스트 삭제
numbers = [302, 301, 418, 430, 529]
numbers.remove(301)
numbers

[302, 418, 430, 529]

In [95]:
numbers = [302, 301, 418, 430, 529]
del numbers[1]
numbers

[302, 418, 430, 529]

## 딕셔너리

my_dic = {
    'key1' : 'value'
    'key2' : '모든 기초 자료형'
}

In [107]:
my_dic = {
    "name" : "evan", 
    "age" : 20, 
    "job" : "강사", 
    "쇼핑목록" : [0, 1, 2, ["Python", "Hello"], 3, 4, 5], 
    "그외" : (1, 2, 3), 
    "그외2" : {"key" : "value"}}

my_dic["쇼핑목록"][3][1][-1]

'o'

In [114]:
my_dic['기타'] = '아무거나'
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [115]:
my_dic['쇼핑목록'] = ["맥북", "아이패드"]
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': ['맥북', '아이패드'],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [116]:
my_dic.keys()

dict_keys(['name', 'age', 'job', '쇼핑목록', '그외', '그외2', '기타'])

In [117]:
my_dic.values()

dict_values(['evan', 20, '강사', ['맥북', '아이패드'], (1, 2, 3), {'key': 'value'}, '아무거나'])

In [118]:
my_dic.items()

dict_items([('name', 'evan'), ('age', 20), ('job', '강사'), ('쇼핑목록', ['맥북', '아이패드']), ('그외', (1, 2, 3)), ('그외2', {'key': 'value'}), ('기타', '아무거나')])

In [119]:
list(my_dic.keys())

['name', 'age', 'job', '쇼핑목록', '그외', '그외2', '기타']

## 단일 조건에 따른 분기

In [2]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("pass")

숫자를 입력하세요.. 95

pass

## 단일 조건 및
for example) 합격/불합격을 만드는 일

시나리오 만들기
-> 문제 정의
-> 90점 이상 합격
-> 80점 이상이면 조건부 합격 처리
-> 그 외는 불합격 처리

In [5]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("pass")
else:
    print("fail")

숫자를 입력하세요.. 50

fail

## 여러 조건에 따른 분기

In [6]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("pass")
elif (x >=80) and (x <90):
    print("조건부 합격")
else:
    print("fail")

숫자를 입력하세요.. 85

조건부 합격

## 중첩 조건에 따른 분기
- 시나리오
- 90점 넘으면 합격, 그 중에서 100점 자에게는 장학금 지급
- 80점 이상은 조건부 합격
- 그 외는 불합격

In [13]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    if x == 100:
        print("장학금 지급")
    else:
         print("pass")
elif (x >=80) and (x <90):
    print("조건부 합격")
else:
    print("fail")

숫자를 입력하세요.. 100

장학금 지급

## 반복문

In [14]:
for i in range(3):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

- 시퀀스 자료형이 range 대신에 들어감

In [17]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [18]:
for i in my_list:
    print(i)

1
2
3

In [19]:
list(range(3))

[0, 1, 2]

## 중첩 for문

In [20]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

원하는 결과물
x1, y1
x2, y2
x3, y3
x4, y4

In [22]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x, y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)

x, y
x1
x1 y1
x1 y2
x2
x2 y1
x2 y2

In [23]:
for i in range(2, 10):  # 2단부터 9단까지
    for j in range(1, 10):  # 각 단의 1부터 9까지 곱셈
        print(f"{i} x {j} = {i * j}")
    print()  # 각 단이 끝날 때 줄바꿈

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 여러 개의 리스트 다루기

In [26]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# ids : index number
for idx in range(len(names)):
    # print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [27]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

## 리스트 컴플리헨션

In [29]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    print(x * 2)

2
4
6
8
10

In [32]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    result.append(x * 2)
print(result)

[2, 4, 6, 8, 10]

In [33]:
numbers = [1, 2, 3, 4, 5]
result2 = [x *2 for x in numbers]
print(result2)

[2, 4, 6, 8, 10]

In [36]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [48]:
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2 == 0]
print(result2)

[2, 4, 6]

## while 반복문 (데이터 분석에서 자주 쓸 일 없음)
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석 : 데이터셋이 정해져 있음
- - + 행과 열이 고정이 되어 있음
    + 범위가 주어진 상태

In [50]:
i = 0
total = 0

while(total < 20):
    i = i + 1
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [52]:
k = 0
while True:
    k = k + 1
    print("안녕하세요")
    if(k > 3):
        print(k)
        break

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

## 사용자 정의 함수

In [54]:
def my_list_func():
    print("안녕하세요")
    print("반갑습니다")

In [55]:
my_list_func()

안녕하세요
반갑습니다